.body{
    background-color:azure;
    
}
.h1{
    color:green;
    font-size:xx-large
}
.p{
    color:green;
    font-size:xx-large
}
.navbar-left{
    height: 10%;
    width:10%;
    background-color:black;
    justify-content: flex-start;
}
.navbar-right{
    height: 10%;
    width:10%;
    background-color:black;
    justify-content: flex-end;
}